<mat-toolbar color="primary">

  <span>Job Portal</span>

  <span class="spacer"></span>

  <!-- CANDIDAT -->
  <ng-container *ngIf="isLoggedIn() && isCandidat()">

    <button mat-button routerLink="/candidat/candidatures">
      Mes candidatures
    </button>

    <button mat-button routerLink="/candidat/create">
      Postuler
    </button>

    <button mat-button (click)="logout()">
      Déconnexion
    </button>

  </ng-container>

  <!-- RECRUTEUR -->
  <ng-container *ngIf="isLoggedIn() && isRecruteur()">

    <button mat-button routerLink="/recruteur/candidatures">
      Candidatures reçues
    </button>

    <button mat-button (click)="logout()">
      Déconnexion
    </button>

  </ng-container>

</mat-toolbar>
